/* =========Common Code Starts======== */
:root{
    --poppins:'Poppins', sans-serif;
    --nunito:'Nunito', sans-serif;
    --open_sans:'Open Sans', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --tint_blue: #1C1E53;
    --dark_blue: #282938;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.common_btn{
    padding: 16px 48px;
    color: #fff;
    border: 2px solid rgba(244, 246, 252, 0.20);
    border-radius: 41px;
    background: transparent;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.common_btn:hover{
    background: #FCD980;
    color: black;
}
.section_heading{
    color: var(--dark_blue);
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.sub_heading{
    color: var(--dark_blue);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.common_link{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    transition: all linear 0.3s;
}
.common_link i{
    margin-left: 16px;
}
.common_link:hover{
    color: #FCD980;
}
/* =========Common Code Ends======== */

/* =========Navbar Code Starts======== */
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    z-index: 999;
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}
.menu ul li a{
    color: #BBBBCB;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.menu ul li a:hover{
    color: #fff;
}
/* =========Navbar Code Ends======== */

/* =========Banner Code Starts======== */
#banner{
    position: relative;
    padding: 218px 0 128px 0;
    background: var(--tint_blue);
}
.banner_wrapper{
    display: flex;
    column-gap: 60px;
    align-items: center;
}
.banner_content{
    width: 582px;
}
.banner_content h1{
    color: #FFF;
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}
.banner_content p{
    width: 562px;
    color: #FFF;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.banner_btn a{
    padding: 16px 56px;
    border-radius: 41px;
    background: #FCD980;
    color: #1B1C2B;
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
}
.banner_btn a:last-child{
    background: transparent;
    color: #FFF;
}
.banner_btn a:last-child i{
    margin-left: 16px;
}
.banner_img{
    width: 638px;
    height: 362px;
    overflow: hidden;
}
.banner_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* =========Banner Code Ends======== */

/* =========Work Code Starts======== */
#work{
    padding: 128px 0;
    background: #F4F6FC;
}
.work_wrapper{
    display: flex;
    column-gap: 142px;
}
.work_content{
    width: 405px;
}
.work_content p{
    margin: 16px 0;
}
.touch{
    color: #2405F2;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.work_content a i{
    margin-left: 13px;
}
.work_main{
    width: 656px;
    margin-right: 77px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.work_main_item{
    width: 303px;
}
.work_main_item h3{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
    text-transform: capitalize;
    margin-top: 16px;
}
.work_main_item p{
    margin-top: 16px;
    margin-bottom: 8px;
}
/* =========Work Code Ends======== */

/* =========Project Code Starts======== */
#project{
    padding: 128px 0;
}
.project_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project_main{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin-top: 64px;
}
.big_project{
    position: relative;
    width: 843px;
    height: 600px;
    overflow: hidden;
}
.big_project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big_project .overlay{
    position: absolute;
    height: 100%;
    width: 396px;
    left: -396px;
    top: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding: 312px 0 76px 48px;
    opacity: 0;
    transition: all linear 0.5s;
}
.overlay_heading{
    color: #FFF;
    width: 313px;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
}
.overlay_sub_heading{
    color: #FFF;
    width: 293px;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    margin-top: 16px;
    margin-bottom: 40px;
}
.overlay a{
    color: #fff;
}
.big_project:hover .overlay{
    left: 0;
    opacity: 1;
}
.small_project{
    width: 405px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.small_project_item{
    position: relative;
    width: 100%;
    height: 284px;
    overflow: hidden;
}
.small_project_item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.small_project_item .overlay{
    position: absolute;
    left: -405px;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding: 128px 0 45px 56px;
    opacity: 0;
    transition: all linear 0.7s;
}
.small_project_item:hover .overlay{
    left: 0;
    opacity: 1;
}
.small_project_item .overlay h4{
    width: 290px;
    margin-bottom: 10px;
}
/* =========Project Code Ends======== */

/* =========Features Code Starts======== */
#features{
    padding: 128px 0;
    background: #F4F6FC;
}
.features_heading{
    text-align: center;
}
.features_heading h5{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}
.features_heading .section_heading{
    width: 630px;
    margin: 12px auto 47px auto;
}
.features_card{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;

}
.features_card_item{
    padding: 58px 0 48px 48px;
    background: #FFF;
    width: 405px;
}
.card_icon i{
    color: #2405F2;
    font-size: 28px;
    margin-bottom: 22px;
}
.text{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
    text-transform: capitalize;
}
.features_card_item p{
    width: 325px;
    margin-top: 12px;
}
/* =========Features Code Ends======== */

/* =========Clients Code Starts======== */
#clients{
    position: relative;
    padding: 130px 0;
    background: #F4F6FC;
}
#clients::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.515);
    left: 0;
    top: 0;
}
#clients::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.515);
    left: 0;
    bottom: 0;
}
.clients_content{
    width: 327px;
}
.content_heading{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    line-height: 56px; 
}
.clients_wrapper{
    display: flex;
    justify-content: space-between;
}
.clients_content p{
    margin-top: 16px;
}
.clients_main{
    width: 843px;
}
.clients_main h3{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
    margin-bottom: 48px;
}
.clients_info{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.clients_img{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.clients_details h4{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.clients_details h5{
    color: var(--Dark-blue);
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 500;
    line-height: 28px; 
}
/* =========Clients Code Ends======== */

/* =========FAQ Code Starts======== */
#faq{
    padding: 128px 0;
}
.faq_wrapper{
    display: flex;
    justify-content: space-between;
}
.faq_heading .content_heading{
    width: 328px;
    margin-bottom: 16px;
}
.faq_main{
    width: 847px;
}
.faq_item{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid #ECECF1;
    padding: 32px 0;
}
.faq_item:first-child{
    padding-top: 0;
}
.faq_item:last-child{
    border-bottom: none;
}
.faq_info{
    display: flex;
    column-gap: 55px;
}
.faq_number span{
    color: #2405F2;
}
.faq_details p{
    padding: 16px 48px 0 0;

}
.faq_icon{
    font: 18px;
    background: var(--Dark-blue);
    opacity: 0.7;
    line-height: 36px;
}

/* =========FAQ Code Ends======== */

/* =========Common Code Starts======== */
/* =========Common Code Ends======== */

/* =========Common Code Starts======== */
/* =========Common Code Ends======== */

/* =========Common Code Starts======== */
/* =========Common Code Ends======== */

/* =========Common Code Starts======== */
/* =========Common Code Ends======== */

